<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StoryBooks</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
   {{> _header}}
   {{#if user}}
       {{> _add-btn}}
   {{/if}}
   
    <main>
    <div class="container">
    {{{ body }}}
    </div>
    </main>
    {{> _footer}}
    <script
      src=https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
    <script>
        var elem = document.querySelector('.sidenav');
        //var instance = M.Sidenav.init(elem, inDuration);
        $(document).ready(function(){
            $('.sidenav').sidenav();
            $('select').formSelect();
        });
        
        CKEDITOR.replace('body', {
            plugins: 'wysiwygarea,toolbar,basicstyles,link'
        });
    </script>
</body>
</html>